# Convex configuration
CONVEX_DEPLOYMENT=your-deployment-key

VITE_CONVEX_URL=key
VITE_CONVEX_SITE_URL=key

# Sentry configuration
VITE_SENTRY_DSN=your-sentry-dsn-here
SENTRY_AUTH_TOKEN=your-sentry-auth-token-here